* {
  margin: 0;
  padding: 0;
  transition: all .2s;
}

body {
  background: black;
  background-image: url(img/pattern.png);
  background-size: 3%;
  font-family: Roboto, Arial;
}

p {
  color: white;
}

h2 {
  color: white;
}

.main {
  width: 1200px;
  margin: auto;
}
.cont {
  float: left;
}
a {
    color: white;
    text-decoration: none;
}

a:hover {
  color: #c6e400;
}

li {
  margin-bottom: 15px;
  list-style: none;
}

.cont ul {
  margin-top: 20px;
}
