body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

* {
  margin: 0;
  padding: 0;
}

.inf-block {
  height:
}

.main-info {
  width: 980px;
  height: 250px;
  background: grey;
  padding: 10px;
  margin:auto;

}
