


body {

    font-family: Arial;
    font-size: 18px;
    margin: 0;
    padding: 0;
}


.all-web {
    width: 100%;
    height: auto;

}



.top-head {
    height: 80px;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

.main-menu {
    margin: auto;
    width: 1200px;
}

.main-menu ul {
    text-align: center;
    line-height: 40px;
}

.main-menu ul li {
    display: inline-block;
    margin: 0 42px;
    font-weight: normal;
}

.main-menu a {
    text-decoration: none;
    color: #486180;
}

.main-menu a:hover {
    transition: all .5s;
    background: #FFE1D8;
}



.logo {
    position: absolute;
    left: 100px;
    top: -200px;
}

.zz-line-1 {
    position: absolute;
    left: 0;
    top: 800px
}

.first-screen {
    height: 970px;
    width: 100%;
}

.frt-src-left {
    height: 970px;
    width: 50%;
    background: white;

    position: absolute;
    top: 0;
    left: 0;
}

.frt-src-left p {
    color: #486180;

}

.frt-src-right {
    height: 970px;
    width: 50%;
    background-image: url(img/pl-ph-1.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    position: absolute;
    top: 0;
    right: 0;
}

.wsixzz {
    height: 970px;
    width: 100%;

    position: relative;
}

.wlc-text {
    left: 50%;
    margin-left: -200px;
    text-align: center;
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    margin-top: -10%;

}
.bottom-foot {
    height: 80px;
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 10;
}



.foot-zz-img {
    position: absolute;
    bottom: 27px;
    right: 0;
    margin-left: -150px;
}

.main-foot {
    text-align: center;
    margin: auto;
    width: 1200px;
    padding-top: 30px;

}

.main-foot p {
    color: #486180;
    margin: 0 42px;
    display: inline-block;

}

.main-foot a {
    text-decoration: none;
    color: #486180;
}

/*  */

.photo-block {
    margin-top: 50px;
    width: 100%;
    height: 700px;
    position: relative;
}

.big-photo {
    background-image: url(img/big-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 700px;
    width: 47%;
    float: left;
    /* background: grey; */
    /* position: absolute;
    top: 1020px;
    left: 0; */
}


.min-photo-block {
    /* background: red; */
    height: auto;
    width: 575px;
    margin-left: 50px;
    float: left;
}

.min-photo-1 {
    background-image: url(img/min-photo-1.png);
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* background: green; */
    height: 325px;
    width: 575px;
}

.min-photo-2 {
    background-image: url(img/min-photo-2.png);
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* background: green; */
    height: 325px;
    width: 575px
}

.vr-line-pht {
    position: absolute;
    top: 0;
    right: 415px;
}
/* МЕНЮ */

.menu-zz {
    position: absolute;
    top: 10px;
    left: 570px;
}

.rest-menu {
    /* position: relative; */
    width: 100%;
    height: auto;
    background: white;
    margin-top: 96px;
}


.rest-mn-block {
    height: auto;
    width: 1200px;
    margin: auto;
}

.rest-mn-block h1 {
    color: #486180;
}

.menu-text {
    height: 310px;
    margin-top: 96px;
    margin-bottom: 50px;
}



.cat-food p {
    font-size: 24px;
    display: inline-block;
}

.food-name {
    color: #486180;
}

.food-dots {
    color: #5ED4EE;
}

.food-price {
    color: #C63000;
}

.frs-col {
    display: block;
    float: left;
}

.frs-col:last-child {
    margin-left: 249px;
}

.map {
    margin: auto;
    height: auto;
    width: 1200px;
}

.map-win {
    height: 650px;
    width: 1200px;
    margin: auto;
    border: 0;
}


.adds-rest {
    width: 1200px;
    height: auto;
    margin: auto;
}

.adds-rest a {
    color: #486180;
    text-decoration: none;
}

.ad-rst {
    text-align: center;
    margin-top: 96px;
    margin-bottom: 46px;
}

.adds-rest p {
    margin: 0 25px;
    display: inline-block;
}

@media only screen and (max-width: 1900px) {
    .foot-zz-img {
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .menu-zz {
        display: none;
    }

    .map {
        margin: auto;
        height: auto;
        width: 100%;
    }

    .map-win {
        width: 100%;
    }
}

@media screen and (max-width: 1270px){

    .adds-rest {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .rest-menu {

        width: 100%;
        height: 1600px;
        background: white;
        margin-top: 96px;
    }

    .frs-col {
        display: inline;

    }

    .frs-col:last-child {
        margin-left: 100px;
    }

    .vr-line-pht {
        display: none;
    }

    .photo-block {
        height: 400px;
    }

    .rest-mn-block {
        width: 90%;
    }

    .big-photo {
        background-image: url(img/big-photo.png);
        height: 700px;
        width: 100%;
        /* float: left; */
        /* background: grey; */
        /* position: absolute;
        top: 1020px;
        left: 0; */
    }


    .min-photo-block {
        /* background: red; */
        margin-top: 50px;
        height: auto;
        width: 100%;
        margin-left: 0;
        float: left; */
    }

    .min-photo-1 {
        background-image: url(img/min-photo-1.png);
        margin-bottom: 50px;
        /* background: green; */
        height: 325px;
        width: 48%;
        float: left;
    }

    .min-photo-2 {
        background-image: url(img/min-photo-2.png);
        margin-bottom: 50px;
        /* background: green; */
        height: 325px;
        width: 48%;
        float: right;
    }

    .main-menu {
        width: 100%;
    }

    .main-foot {
        width: 100%;
    }
}

@media screen and (max-width: 960px){

    .map {
        margin: auto;
        height: auto;
        width: 100%;
        margin-bottom: 100px;
    }

    .map-win {
        height: 350px;
        width: 100%;
    }

    .all-web {
        height: 600px;
    }
    .zz-line-1 {
        display: none;
    }

    .wlc-text {
        left: 50%;
        margin-left: -200px;
        text-align: center;
        width: 400px;
        height: auto;
        position: absolute;
        top: 70%;
        /* margin-top: -10%; */

    }

    .wsixzz {
        height: 600px;
        width: 100%;

        position: relative;
    }

    .frt-src-left {
        height: 600px;
        width: 100%;
        background: white;

        /* position: absolute;
        top: 0;
        left: 0; */
    }

    .frt-src-right {
        display: none;
    }

    .big-photo {
        background-image: url(img/big-photo.png);
        height: 400px;
        width: 50%;
        /* float: left; */
        /* background: grey; */
        /* position: absolute;
        top: 1020px;
        left: 0; */
    }


    .min-photo-block {
        /* background: red; */
        height: auto;
        width: 50%;
        margin-left: 0;
        float: left;
        margin-top: 0;
    }

    .min-photo-1 {
        background-image: url(img/min-photo-1.png);
        margin-bottom: 0;
        margin-top: 0;
        /* background: green; */
        height: 400px;
        width: 100%;
    }

    .min-photo-2 {
        display: none;
    }

    .rest-menu {
        height: 1500px;
    }

    .menu-text {
        height: 670px;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .frs-col {
        height: 300px;
        display: block;
        float: none;
        margin-bottom: 0;
    }

    .frs-col:last-child {
        margin-left: 0;
    }
}



@media screen (max-width: 600px) {

    .adds-rest {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .adds-rest a {
        color: #486180;
        text-decoration: none;
    }

    .ad-rst {
        text-align: left;
        margin-top: 96px;
        margin-bottom: 46px;
    }

    .adds-rest p {
        margin-bottom: 10px;
        display: inline-block;
    }


    .map-win {
        width: 100%;
    }

    .bottom-foot {
        height: 120px;
        width: 100%;
        background: white;
        position: fixed;
        bottom: 0;
        z-index: 10;
    }


    .main-foot {
        text-align: center;
        margin: auto;
        width: 100%;


    }

    .main-foot p {
        margin-bottom: 10px;
        color: #486180;


    }

    .main-foot a {
        text-decoration: none;
        color: #486180;
    }
}
